.button {
    width: 34vw;
    height: 34vw;
    padding: 0;
    border-radius: 9999px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button__border {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4vw;
    border-radius: 9999px;
}

.button--rock > .button__border {
    box-shadow: 0 2vw var(--shadow-rock);
    background: var(--gradient-rock);
}

.button--paper > .button__border {
    box-shadow: 0 2vw var(--shadow-paper);
    background: var(--gradient-paper);
}

.button--scissors > .button__border {
    box-shadow: 0 2vw var(--shadow-scissors);
    background: var(--gradient-scissors);
}
.button:active > .button__border {
    transform: translateY(1vw);
}

.button--rock:active > .button__border {
    box-shadow: 0 1vw var(--shadow-rock);
}

.button--paper:active > .button__border {
    box-shadow: 0 1vw var(--shadow-paper);
}

.button--scissors:active > .button__border {
    box-shadow: 0 1vw var(--shadow-scissors);
}

.button__surface {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: var(--color-white);
    box-shadow: inset 0 2vw var(--shadow-surface);
}

.button__icon {
    width: 12vw;
    height: auto;
    margin: auto;
}

@media screen and (min-width: 375px) {
    .button {
        width: 13rem;
        height: 13rem;
    }

    .button__border {
        padding: 1.6rem;
    }

    .button:active > .button__border {
        transform: translateY(0.3rem);
    }

    .button--rock > .button__border {
        box-shadow: 0 0.6rem var(--shadow-rock);
        background: var(--gradient-rock);
    }

    .button--paper > .button__border {
        box-shadow: 0 0.6rem var(--shadow-paper);
        background: var(--gradient-paper);
    }

    .button--scissors > .button__border {
        box-shadow: 0 0.6rem var(--shadow-scissors);
        background: var(--gradient-scissors);
    }

    .button--rock:active > .button__border {
        box-shadow: 0 0.2rem var(--shadow-rock);
    }

    .button--paper:active > .button__border {
        box-shadow: 0 0.2rem var(--shadow-paper);
    }

    .button--scissors:active > .button__border {
        box-shadow: 0 0.3rem var(--shadow-scissors);
    }

    .button__surface {
        box-shadow: inset 0 0.6rem var(--shadow-surface);
    }

    .button__icon {
        width: 4.4rem;
    }
}

@media screen and (min-width: 564px) {
    .button {
        width: 21rem;
        height: 21rem;
    }

    .button__border {
        padding: 2.4rem;
    }

    .button:active > .button__border {
        transform: translateY(0.5rem);
    }

    .button--rock > .button__border {
        box-shadow: 0 1rem var(--shadow-rock);
        background: var(--gradient-rock);
    }

    .button--paper > .button__border {
        box-shadow: 0 1rem var(--shadow-paper);
        background: var(--gradient-paper);
    }

    .button--scissors > .button__border {
        box-shadow: 0 1rem var(--shadow-scissors);
        background: var(--gradient-scissors);
    }

    .button--rock:active > .button__border {
        box-shadow: 0 0.5rem var(--shadow-rock);
    }

    .button--paper:active > .button__border {
        box-shadow: 0 0.5rem var(--shadow-paper);
    }

    .button--scissors:active > .button__border {
        box-shadow: 0 0.5rem var(--shadow-scissors);
    }

    .button__surface {
        box-shadow: inset 0 1rem var(--shadow-surface);
    }

    .button__icon {
        width: 7.2rem;
    }
}