.footer {
    width: 100%;
    height: auto;
    text-align: center;
}

.footer__button {
    width: 13rem;
    height: 4.2rem;
    border: 0.2rem solid var(--header-outline);
    border-radius: 0.8rem;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-white);
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    cursor: pointer;
}