.page {
    width: 100%;
    min-height: 100vh;
    padding-top: 3.2rem;
    padding-bottom: 5.4rem;
    background: var(--gradient-radial);
    background-repeat: no-repeat;
}

.page__container {
    width: 100%;
    height: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}