.page {
    width: 100%;
    min-height: 100vh;
    padding-top: 3.2rem;
    padding-bottom: 5.4rem;
    background: var(--gradient-radial);
    background-repeat: no-repeat;
}

.page__container {
    width: 100%;
    height: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

@media screen and (min-width: 375px) {
    .page__container {
        max-width: 37.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 564px) {
    .page {
        padding-top: 4.4rem;
    }

    .page__container {
        max-width: 56.4rem;
    }
}

@media screen and (min-width: 806px) {
    .page__container {
        max-width: 80.6rem;
    }
}